html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::---webkit-scrollbar {
  display: none;
}

body {
  background-color: #f9fafb;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

.prose code::before,
.prose code::after,
.prose p::before,
.prose p::after {
  content: "" !important;
}

.prose pre {
  background-color: #e9f4ff;
  padding: 0.5em;
  overflow-x: auto;
}

.prose :not(pre) > code {
  font-weight: normal !important;
  background-color: #efefef;
  padding: 0.1em 0.35em;
  border-radius: 0.25rem;
  color: #ff3f3f;
  font-size: 0.875em;
}

section {
  scroll-margin-top: 90px;
}

* {
  box-sizing: border-box;
}

@media print {
  header,
  footer {
    display: none !important;
  }

  body {
    background: white !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    box-shadow: none !important;
  }
}
