@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #b0bded, #2c515a);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #77809f, #101e22);
  }
}

@utility slider-scrollbar {
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #bfbfbf;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #878686, #45808f);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #4d4c4c, #274951);
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

@media print {
  @page {
    margin: 10mm;
    margin-top: 15mm;
    size: A4;
  }

  header,
  footer {
    display: none !important;
  }

  body {
    background: white !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    box-shadow: none !important;
  }

  svg * {
    animation-delay: -9999s !important;
    animation-fill-mode: forwards !important;
    animation-iteration-count: 1 !important;
  }
}
