.big {
    margin-top: 50px;
    font-size: 40px;
    color: blueviolet;
    font-weight: 700;
    font-style: italic;
    text-align: start;
}

.title {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 30px;
    margin-top: 30px;
    text-align: start;
    font-weight: 700;
}

.info {
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    text-align: start;
}

.subinfo {
    width: 100%;
    font-size: 18px;
    text-align: start;
}