.backRed {
  background-color: red;
}

.backBlue {
  background-color: rgb(0, 200, 255);
}

.backWhite {
  background-color: white;
}

.backBlack {
  background-color: black;
}

.red {
  color: red;
}

.blue {
  color: rgb(0, 200, 255);
}

.white {
  color: white;
}

.black {
  color: black;
}